[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BacenAPI"]
	path = BacenAPI
	url = https://github.com/lissandrosousa/bacenapi.r
[submodule "adcontabil"]
	path = adcontabil
	url = https://github.com/lissandrosousa/adcontabil.r
